<div class="card-dashboard">
 <%= link_to new_group_path do %>
  <div class="card-groupname">
    <p class="text-center">New Team</p>
  </div>
  <div class="card-game d-flex justify-content-center align-items-center">
    <div>
      <i class="fas fa-plus btn btn-plus"></i>
        <% end %>
    </div>
  </div>
</div>
