<div class="card-dashboard">
  <div class="card-groupname">
    <p> <%= game.group.name %> </p>
  </div>
  <div class="card-game">
    <p> <%= game.group.user_groups.count %> Members </p>
    <p>  <%= game.match.team_1 %>  </p>
    <p>vs</p>
    <p>  <%= game.match.team_2 %> </p>
  </div>
</div>
