<div class="container">
    <h1 class="mt-5">Your Games</h1>
    <div class="d-flex justify-content-start">

      <div class="card-dashboard m-3">
        <div class="card-groupname">
         <p>Batch 530 </p>
        </div>
        <div class="card-game">
          <p> BVB</p>
          <p>vs</p>
          <p> HSV </p>

        </div>
      </div>

    </div>
  <div>
    <h1 class="mt-5">Your Groups</h1>
    <div class="d-flex justify-content-start">
      <% @groups.each do |group| %>
      <%= link_to group_path(group) do %>
      <div class="card-dashboard m-3">
        <div class="card-groupname">
          <p> <%= group.name %> </p>
        </div>
        <div class="card-game">
          <p>35 Members ??? </p>
          <p>6 upcoming games ???? </p>
        </div>
      </div>
      <% end %>
      <% end %>
      <div class="card-dashboard m-3">
        <div class="card-groupname">
          <p>Create a New Group</p>
        </div>
        <div class="card-game d-flex justify-content-center align-items-center">
          <div>
            <h1>
              <%= link_to new_group_path do %>
              <i class="fas fa-plus"></i>
              <% end %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



