<div class="message-container" id="message-<%= message.id %>" data-sender-id="message.user.id">
  <div class="user-message">
    <i class="author">
      <span><%= message.user.nickname %></span>
      <small class="time"><%= message.created_at.strftime("%B %d, %Y, %H:%M") %></small>
    </i>
    <p class="mb-0"><%= message.content %></p>
  </div>
</div>
