// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$football-very-light-green: #d2f0ce;
$football-light-green: #73D065;
$football-light-green-transparent: rgba(115, 208, 101, 0.6);
$football-light-yellow: #f0e36f;
$football-light-yellow-transparent: rgba(240, 227, 111, 0.6);
$football-green: #2f6e25;