<ul>
  <% @bingo_cards.each do |bingo_card| %>

    <li>
     id: <%= bingo_card.id %>
     <br>
     game: <%= bingo_card.game.match.teams %>
     <br>
     user: <%= bingo_card.user.id %>
    </li>
  <% end %>
</ul>
