<div class="bingo-container">
  <div class="before-grid">
    <div class="header">
      <h1>Bingo Bingo Bingo</h1>
    </div>
  </div>
  <div class="the-grid">
    <div class="grid">
    <% if @bingo_tiles.count == 16 %>
      <% (0..15).each do |index| %>
        <div>
          <div class="bingo-tile"><p style="font-size:3.5vw;"><%= BingoTile.find_by(position: index).match_event.description %></p></div>
        </div>
      <% end %>
    <% else %>
      <h3>Please come back later</h3>
    <% end %>
    </div>
  </div>
</div>
