<div class="bingo-container">
  <div class="before-grid">
    <div class="mt-5 header">
      <h1>Bingo Bingo Bingo</h1>
    </div>
  </div>
  <% if @bingo_tiles.count == 16 %>
    <div class="the-grid">
      <div class="grid">    
        <% (0..15).each do |index| %>
          <div>
            <div class="bingo-tile"><p style="font-size:3.5vw;"><%= BingoTile.find_by(position: index).match_event.description %></p></div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>Your Bingo card will be created before the game begins.</h3>
  <% end %>
</div>
