<div class="card-dashboard">
  <div class="card-groupname text-center">
    <p> <%= game.group.name %> </p>
  </div>
  <div class="card-game">
    <p style="margin-bottom: 12px"> <%= game.group.user_groups.count %> Players </p>
    <p> <%= game.match.team_1 %>  </p>
    <p> vs</p>
    <p> <%= game.match.team_2 %> </p>
  </div>
</div>