<!-- <div class="container-center">
 -->  <div class="card-dashboard form-adapt">
    <div class="card-groupname">
      <p class="text-center">Add a Game</p>
    </div>
    <div class="card-game d-flex justify-content-center align-items-center">
      <div>
        <h1>
          <%= link_to new_group_game_path(@group) do %>
          <i class="fas fa-plus"></i>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
<!-- </div>
 -->
