<div class="container-center px-3 form-adapt">
  <br>
  <h1>New team</h1>
  <br>
  <%= simple_form_for @group, html: {multipart: true} do |f| %>
    <%= f.input :name, label: "Enter group name" %>
    <%# <%= f.association :user, collection: User.all.map { |user| user.nickname }, label: "Add user" %>
    <%= f.submit 'Submit', class: "btn btn-greenstart mt-2" %>
  <% end %>
</div>
