<div class="container-xl">
  <div class="px-3 text-center">
    <h1 class="my-3">New team</h1>
    <%= simple_form_for @group, html: {multipart: true} do |f| %>
      <%= f.input :name, label: "Enter team name" %>
      <%= f.submit 'New team', class: "btn btn-greenstart mt-2" %>
    <% end %>
  </div>
</div>
