 <div class="banner" style="background-color: #E5E5E5;">

  <div class="container-home justify-content-center">
      <br>
      <h1 class="text-center">Football bingo</h1>
      <h5 class="text-center">&#x26BD Enter the world of Football bingo! &#x26BD</h5>
      <br>
      <br>
      <div class="card-home text-center mt- 5" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/82/Soccer_Field_Transparant.svg)">

        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-ghost top" %>

        <%= link_to "LOG IN", new_user_session_path, class: "btn btn-ghost middle" %>

        <%= link_to "LEARN MORE! ", "#", class: "btn btn-ghost bottom" %>
      </div>
  </div>
</div>

<!-- https://static.cornelsen.de/_Resources/Persistent/f/b/4/1/fb41ba85e38e6b6a419e235637f92711684fb5c5/fussball-wm-kamp-head-1125x500-992x442.jpg -->
