<div class="container-xl text-center" style="max-width: 310px;" >
  <br>
  <h1>LEARN MORE</h1>
  <br>

  <!-- <div class="card-learn-more">
    <img src="https://www.heuking.de/fileadmin/_processed_/7/b/csm_Fussball_Tor_fs_36978379e8.jpg" />
    <div class="card-learn-more-infos">
      <h2>&#x26BD Play with your friends &#x26BD</h2>
      <p>You can <strong></strong> </p>
    </div>
  </div>
  <br> -->

  <div class="card-learn-more">
    <img src="https://www.telegraph.co.uk/content/dam/investing/2016/Spark/Business-of-sport/football-crowd_trans_NvBQzQNjv4Bqeo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg" />
    <div class="card-learn-more-infos">
      <div>
        <h2>&#x26BD Make football games more fun &#x26BD</h2>
        <p>Play some football bingo with your friends!</p>
      </div>
    </div>
  </div>
  <br>

   <div class="card-learn-more">
    <img src="https://www.heuking.de/fileadmin/_processed_/7/b/csm_Fussball_Tor_fs_36978379e8.jpg" />
    <div class="card-learn-more-infos">
      <div c>
        <h2>&#x26BD Tick the right tiles! &#x26BD</h2>
        <p>Show your friends you are a real football pro</p>
      </div>
    </div>
  </div>
  <br>

<div class="card-learn-more">
    <%= image_tag("learn_more3.jpg") %>
    <div class="card-learn-more-infos">
      <div>
        <h2>&#x26BD Take the victory home! &#x26BD</h2>
        <p>Football Bingo!</p>
      </div>
    </div>
  </div>
  <br>




    <%= link_to "SIGN UP NOW!", new_user_registration_path, class: "btn btn-greenstart" %>
</div>


<!-- https://www.brandchannel.com/wp-content/uploads/2014/07/adidas-germany-560.jpg
 -->
