<div class="container-xl text-center ">
  <br>
  <h1>Learn more about football bingo</h1>
  <br>
  <p>&#x26BD play with your friends &#x26BD</p>
  <br>
  <p>&#x26BD get it right &#x26BD<p>
  <br>
  <p>&#x26BD  &#x26BD<p>
  <br>
  <p>&#x26BD  &#x26BD<p>
  <br>
  <p>&#x26BD  &#x26BD<p>
  <br>
</div>


sign up
