<div class="px-3">
  <h1> <%=  @group.name %> </h1>
<br>
  <%= simple_form_for :competition do |f| %>
    <%= f.input :match, collection: @competitions, label: "Choose a competition"%>
  <% end %>
</div>
