
<div class="container">
  <h1> <%=  @group.name %> </h1>
  <%= simple_form_for [@group, @game] do |f| %>

    <%= f.association :match, label: "Choose match", label_method: :teams %>

    <%= f.submit 'Create Game', class: "btn btn-success" %>

  <% end %>

</div>
