<div class="container-xl ">
  <h1 class="mt-5">Your Games</h1>
  <div class="d-flex justify-content-start">
    <% @game.bingo_cards.each do |bingo_card| %>
      <%= render "card_game", bingo_card: bingo_card %>
    <% end %>
  </div>
  <div>
    <h1 class="mt-5">All participants</h1>
    <div class="d-flex justify-content-start">
        <div class="card-groupname">
          <% @game.group.user_groups.each do |user| %>
            <p> <%= user.user.nickname %> </p>
          <% end %>
    </div>
  </div>
</div>



