.btn-greenstart {
  color: white;
  background-color: $football-green;
  border: 1px solid $football-green;
  // padding: 9px 34px;
  border-radius: 50px;
  font-weight: lighter;
  font-family: $body-font;
  width: 210px;
}

.btn-greenpw {
  color: $football-green;
  border: 1px solid $football-green;
  border-radius: 50px;
  font-weight: normal;
  font-family: $body-font;
  width: 210px;
}

.btn-greenpw:hover {
  color: black;
  background-color: $football-light-green;
  border: 1px solid $football-light-green;
}

.btn-greenstart:hover {
  color: black;
  background-color: $football-light-green;
  border: 1px solid $football-light-green;
}

.btn-ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  padding: 18px 21px;
  border-radius: 8px;
  width: 220px;
  font-weight: bold;
  font-size: 24px;
  background-color:rgba(13, 0, 0, 0.4);
}

.btn-ghost:hover {
  border: none;
  color: white;
  background-color:rgba(13, 0, 0, 0.6);
}

.btn-ghost:focus, .btn-ghost.focus {
  box-shadow: none;
}

.upload-photo {
  font-family: $body-font;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  width: 210px;
  padding: 8px;
  margin-top: 10px;
}

.upload-photo:hover {
  color: $football-green;
}

.btn-plus {
  border: 4px solid $football-green;
  border-radius: 50%;
}

.btn-border {
  background-color: $football-green;
  border-radius: 50px;
  padding: 0.5px 4px;
}


