h1 {
  font-family: $football-font2;
}

body, h2, h3 {
  font-family: $football-font;
}

.cards-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: space-around;
  grid-gap: 16px;
  padding: 16px;
  margin: 0px;
}

.dashboard-link {
  color: black;
  text-decoration: none;
}

.dashboard-link:hover {
  opacity: 0.6;
  color: black;
  text-decoration: none;
}

.card-dashboard {
  // width: 200px;
  background-color: white;
  opacity: 0.8;
  border-radius: 8px;
  text-align: center;
  border: 1px solid black;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  a {
    color: black;
    text-decoration: none;
  }
}

.card-groupname {
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 4px;
  font-size: 1.5em;
  margin: auto 0px;
}

.card-game {
  font-weight: bold;
  padding: 8px;
  a {
    color: black;
  }
  p {
    margin-bottom: 2px;
  }
}

@media(max-width: 992px) {
  .cards-dashboard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-dashboard {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .cards-dashboard {
    grid-template-columns: 1fr 1fr;
  }
}





