.selector-prev {
  @extend .carousel-control-prev;
  top: 82px;
  left: 4px;
  height: 48px;
  width: 48px;
  border: 0px;
  background-color: $football-green;
  border-radius: 50%;
  opacity: 1;
}

.selector-next {
  @extend .carousel-control-next;
  top: 82px;
  right: 4px;
  height: 48px;
  width: 48px;
  border: 0px;
  background-color: $football-green;
  border-radius: 50%;
  opacity: 1;
}
