.container-members {
  border: 1px solid $football-green;
  background-color: white;
  border-radius: 8px;
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;

  // for firefox
  scrollbar-width: none;

  // for chrome, edge, safari
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 6px;
  }  
  &::-webkit-scrollbar-thumb {
    background-color: $football-green;
    border-radius: 6px;
  }

  padding: 0px;
  .wrapper:last-child {
    .card-member {
      border-bottom: none;
    }
  }
  a:last-child {
    .card-member {
      border-bottom: none;
    }
  }
}

.card-member {
  overflow: hidden;
  height: 48px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-bottom: solid 1px $gray;
  // border-radius: 8px;
  
}

.card-member h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-member p {
  font-size: 25px;
  // line-height: 1.4;
  // opacity: .7;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: lighter;
  padding-left: 18px;
  color: $football-green;
}

