.card-dashboard {
  height: 200px;
  width: 200px;
  text-align: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-groupname {
  border-bottom: 1px solid black;
}

.card-game {
  height: 160px;
  a {
    color: black;
    font-size: 80px;
    transition: font-size .2s;
  }
  a:hover {
    text-decoration: none;
    font-size: 120px;
    color: black;
  }
}


