.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1, h2, h3, h4 {
    font-family: $headers-font;
  }
  h5{
    font-family: $body-font;
  }
}

.container-signlog {
  h1, h2, h3, h4 {
    font-family: $headers-font;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




