.navbar-lewagon {
  justify-content: space-between;
  background: $football-green;
  height: 67px;
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  .navbar-toggler-icon {
    background-image: asset-url("toggler.svg");
    width: 30px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

