.form-adapt {

  .form-control {
    border-radius: 8px;
  }
  .password {
    font-family: $body-font;
  }
  .email{
    font-family: $body-font;
  }
  .string{
    font-family: $body-font;
  }
  .form-check-label {
    font-family: $body-font;
  }
}
