.form-adapt {

  .form-control {
    border-radius: 8px;
  }
  .password {
    font-family: $body-font;
  }
  .email{
    font-family: $body-font;
  }
  .string{
    font-family: $body-font;
  }
  .form-check-label {
    font-family: $body-font;
  }
}
.form-control {
  border-radius: 8px;
  &:focus {
    border: 1px solid $football-green;
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: inset 0 0 6px $football-green
  }
}